body {
  margin: 0 auto;
  font-family: Arial;
}

body a {
  cursor: pointer;
}

/* --- Header --- */
.order {
  color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(92.74deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  padding: 2%;
}

.order_summary {
  align-self: center;
}

.order_total {
  display: flex;
  flex-direction: column;
}

.order_totalpermonth {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}

.order_totalnow {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.order_line {
  border: 0;
  clear: both;
  display: block;
  background: white;
  height: 2px;
  width: 99%;
  margin: -6px 0 -6px 0;
}

/* --- Payment Method --- */
.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.payment_method {
  align-self: center;
  padding-top: 24px;
}

.payment_option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.payment_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #939393;
  width: 47%;
  gap: 10px;
  font-size: 12px;
  font-weight: 700;
  font-family: Montserrat;
  height: 110px;
  border: transparent;
  background: #FFFFFF;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.payment_button:active {
  border: 4px solid #fe4e9b;
}

.payment_button:focus {
  border: 4px solid #fe4e9b;
}

.payment_button:target {
  border: 4px solid #fe4e9b;
}

.payment_img1 {
  width: 7rem;
}

.payment_img2 {
  height: 4rem;
  margin-left: -7%;
}

/* --- Card Data Input --- */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 54px 5%;
  font-family: Montserrat;
  font-weight: 600;
  color: #939393;
}

.card_info {
  font-size: 24px;
  font-weight: 700;
  font-family: Arial;
  color: black;
}

.card_input {
  display: flex;
  flex-direction: column;
}

.card_number {
  width: 90%;
  height: 44px;
  padding-left: 10%;
  background: #F3F1F2;
  border: 1px solid #939393;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

.card_number::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.card_data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_safety {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.card_text {
  margin-bottom: 5px;
}

.card_expiry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_date {
  width: 90%;
  height: 44px;
  padding-left: 10%;
  background: #F3F1F2;
  border: 1px solid #939393;
  border-radius: 4px;
}

.card_date::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.card_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_security {
  width: 90%;
  height: 44px;
  padding-left: 10%;
  background: #F3F1F2;
  border: 1px solid #939393;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}



/* --- Buy-Now Button --- */
.buy {
  display: flex;
  justify-content: center;
  padding: 0 3%;
}

.buy_now {
  background: linear-gradient(92.74deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  border-radius: 68px;
  border-color: transparent;
  height: 68px;
  max-width: 326px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.buy_now:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
  background: linear-gradient(92.74deg, #FE4E9B 1.15%, #FD7B46 98.48%);
}

.buy_now:active {
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

/* --- Help Anchor --- */
.help {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.help_needed {
  font-weight: 700;
  font-size: 18px;
  background: linear-gradient(91.07deg, #FE4E9B 32.21%, #FD7B46 67.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.help_needed:visited {
  background: linear-gradient(91.07deg, #FE4E9B 32.21%, #FD7B46 67.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.help_needed:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
  background: linear-gradient(92.74deg, #FD7B46 1.15%, #FE4E9B 98.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.help_needed:active {
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

/* --- Styling for JS --- */
.disabled {
  filter: grayscale(100%);
  opacity: 0.6;
}

@media (min-width: 768px) {
  body {
    max-width: 800px;
  }

  .order_summary {
    align-self: flex-start; /* Added missing semicolon */
  }
  .card {
    padding: 54px 15px;
  }
  .card_input {
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  .card_data {
    width: 48%;
  }
  .card_safety {
    width: 53%;
    justify-content: space-around;
  }
  .card_sec {
    width: 50%;
  }
  .card_expiry {
    width: 40%;
  }
}
